.rest{
    width: 100%;
    height: 125px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
}

.rest:hover{
    opacity: 0.85;
}