footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: red;
}

.granier, .unimet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.granier a, .unimet .pagelink a {
  color: #000;
  text-decoration: none;
}

.granier p, .unimet .copyright p {
  margin: 0;
}

.unimet .logo {
  text-align: center;
}

.unimet .logo img {
  max-width: 100%;
  height: auto;
}