.bordered-brown-background {
  padding: 10px 30px;
  background-color: #AD986E;
  stroke: black;
  color: white;
  border: #ffffff solid;
  border-width: 5px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1em;
}

.bordered-brown-background:hover {
  background-color: gray;
}

.bordered-blue-background {
  padding: 10px 30px;
  background-color: #34394B;
  color: white;
  border: #34394B solid;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1em;
}

.bordered-blue-background:hover {
  background-color: gray;
}

.borderless {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
  padding: 10px 30px;
}

.borderless:hover {
  color: gray
}
