.unimet{
    background-color: #FF8200 ;
    display: flex;
    padding: 10px 20px;
    color: white;
    justify-content:center;
}

.granier{
    background-color: #AD986E;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.pagelink{
    min-width: 35%;
    justify-items:center;
}

.logo{
    min-width: 30%;
    justify-items:center;
}

.copyright{
    min-width: 35%;
    justify-items:center;
    line-height: 25px;
}



.logoFooter{
    width: 150px;
    height: auto;
    align-items: center;
}
/*TODO Centrar los div del link, logo y copiright. Estilizar */

.linkUnimet{
    color: white;
    text-decoration: none;
}

.paginaPrincipal{
    margin-top: 18px;
    margin-bottom: 5px;
}