.img{
    height: fit-content;
    width: auto;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.5s;
}

.img:hover{
    transform: scale(1.01);
}

.img-bordered{
    max-width:fit-content;
    padding: 5px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
}

.img-bordered:hover{
    transform: scale(1.01);
}

/*TODO - Modificar a conveniencia */
