.box{
    background-color: #34394B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    max-height: 100px;
}

.backgroundless{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 100px;
    width: auto;
}